/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.logo {
    width: 150px;
    height: auto;
    margin-left: 20px;
}

header {
    background-color: #F875AA;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000000;
    background-color: #FFDFDF;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-order {
    background-color: #FFDFDF;
    color: #000000;
    padding: 20px 20px;
    border-radius: 5px;
}

/* Hero Section */
#hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: #FFDFDF;
}

.hero-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 2,5rem;
}

.btn-primery {
    background-color: #F875AA;
    color: #000000;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

/* Products Section */
#products h2 {
  padding: 40px 0 0 40px;
  text-align: center;
  background-color: #FFF6F6;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px 0;
  background-color: #AEDEFC;
}

.product {
  text-align: center;
  min-width: 300px;
  margin: 20px;
}

.product img {
  width: 400px;
  height: auto;
  border-radius: 10px;
}

/* Testimonials Section */
#testimonials {
    background-color: #F875AA;
    padding: 40px;
    text-align: center;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .testimonial {
    margin: 40px;
    max-width: 600px;
  }
  
  .testimonials img {
    width: 200px;
    height: auto;
    border-radius: 50%;
  }
  
  /* Contact Section */
  #contact {
    padding: 40px;
    text-align: center;
    background-color: #FFDFDF;
  }
  
  form input,
  form textarea {
    width: 100%;
    max-width: 700px;
    display: block;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    background-color: #F875AA;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* Footer */
  footer {
    background-color: #AEDEFC;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  footer p {
    margin: 10px 0;
  }
  
  .social-icons {
    margin-bottom: 10px;
  }
  
  .social-icons a img {
    width: 30px;
    margin: 0 10px;
  }
  
  /* Media Queries for Responsiviness */
  @media (max-width: 768px) {
    nav ul {
      display: none;
    }
  
    nav {
      flex-direction: column;
    }
  
    .btn-order {
      margin-top: 10px;
    }
  
    #hero {
      flex-direction: column;
      text-align: center;
    }
  
    .hero-content h1 {
      font-size: 2rem;
    }
  
    .btn-primary {
      margin-bottom: 10px;
    }
  
    #products h2 {
      text-align: center;
    }
  
    .product-list {
      flex-direction: column;
      align-items: center;
    }
  
    .testimonials {
      flex-direction: column;
    }
  
    .testimonial {
      margin: auto;
    }
  
    form input,
    form textarea {
      width: 90%;
    }
  }
  
  @media (max-width: 480px) {
    .hero-content h1 {
      font-size: 1.8rem;
    }
  
    .product {
      width: 100%;
      margin: 10px 0;
    }
    .testimonial {
      width: 100%;
    }
  }